<div class="grid">
        <div class="grid-sizer"></div>
          <div class="grid-item">
            <img src="/images/otis.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/writing.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/band.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/code.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/family.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/stonehenge.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/mvps.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/london.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/records.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/usopen.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/friends.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/guitar.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/travel.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/books.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/otisandcos.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/eataly.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/mohonk.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/centralpark.jpg" />
          </div>
          <div class="grid-item">
            <img src="/images/type.jpg" />
          </div>
      </div>
