<div class="grid">
  <div class="grid-sizer">
    <div class="grid-item">
      <img src="/images/otis.jpg" />
    </div>
    <div class="grid-item">
      <img src="/images/headshot.jpg" />
    </div>
    <div class="grid-item">
      <img src="/images/family.jpg" />
    </div>
    <div class="grid-item">
      <img src="/images/mvps.jpg" />
    </div>
    <div class="grid-item">
      <img src="/images/london.jpg" />
    </div>
  </div>
</div>
