<div class="grid">
  <div class="grid-sizer"></div>
    <div class="grid-item">
      <img src="/images/otis.jpg" />
    </div>
    <div class="grid-item">
      <img src="/images/family.jpg" />
    </div>
    <div class="grid-item">
      <img src="/images/stonehenge.jpg" />
    </div>
    <div class="grid-item">
      <img src="/images/mvps.jpg" />
    </div>
    <div class="grid-item">
      <img src="/images/london.jpg" />
    </div>
    <div class="grid-item">
      <img src="/images/friends.jpg" />
    </div>
</div>
