<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
  <main>
  <div class="container text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Upper East Side. Writer. Music Junkie. Dog Lover.</h3>
      </div>
      <div id="aboutBody" class="panel-body">
        <p>I once saved two elderly men from a stuck elevator.</p>
        <p>I only drink beverages that start with the letter 'w'.</p>
        <p>All of my friends go to me for restaurant recommendations.</p>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About This Website</h3>
      </div>
      <div id="aboutBody" class="panel-body">
        <p>This page was built with Express.js and uses Bootstrap and SASS.</p>
        <p>The photo grid on the main page was built with Masonry and animations were done with Animate.css and goBinary.</p>
        <p>This site, as with all of my projects and websites, is fully mobile responsive.</p>
      </div>
    </div>
  </div>
  </main>
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
