<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <main>
      <h1 class="text-center"><%= title %></h1>
      <hr>
    <div class="text-center">
      <h3><%= name %><br>
      <%= email %></h3>
      <a href="https://github.com/mattkersner" target="_blank"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
      <a href="https://www.linkedin.com/in/matt-kersner" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
    </div>
    </main>
    <% include partials/footer.ejs %>
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
