<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <main>
    <div class="container text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= name %></h3>
          <h4><a href="mailto:mattkersner@gmail.com?Subject=Hi%20Matt"><%= email %></a></h4>
        </div>
        <div class="flex panel-body">
         <a href="https://www.instagram.com/indifferentson/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
         <a href="https://github.com/mattkersner" target="_blank"><i class="fa fa-github-alt fa-3x" aria-hidden="true"></i></a>
         <a href="https://www.linkedin.com/in/matt-kersner" target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
         <a href="https://www.facebook.com/matt.kersner" target="_blank"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    </main>
    <% include partials/smallgrid.ejs %>
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
