<% include partials/head.ejs %>
<body>
  <% include partials/header.ejs %>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
          <h3 class="panel-title">E-Commerce Stores Launched</h3>
      </div>
      <div id="brandStatement" class="panel-body text-left">
        Successfully launched, maintained and upgraded dozens of successful E-Commerce stores, all built on the Shopify platform and utilizing Liquid, Shopify's native template language for interacting with the backend. Worked as lead developer on all sites listed below, performed performance, analytics and SEO optimization and integrated and developed public and private apps to enchance features of the stores. Custom built many of the features seen on the stores below.
      </div>
    </div>
  </div>
  <h1 class="text-center">E-Commerce Stores</h1>
  <div id="portfolio-container" class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="wow slideInLeft thumbnail">
          <img src="/images/gitbattlepop.png">
          <div class="caption">
            <h3>Store Name</h3>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <hr>
            <p><a href="https://github-battle-78ce5.firebaseapp.com/" id="btn" class="btn" role="button" target="_blank">Store Name</a></p>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="wow slideInRight thumbnail">
       <img src="/images/gitbattlepop.png">
          <div class="caption">
            <h3>Store Name</h3>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <hr>
            <p><a href="https://github-battle-78ce5.firebaseapp.com/" id="btn" class="btn" role="button" target="_blank">Store Name</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="wow slideInLeft thumbnail" data-wow-offset="150">
        <img src="/images/gitbattlepop.png">
          <div class="caption">
            <h3>Store Name</h3>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <hr>
            <p><a href="https://github-battle-78ce5.firebaseapp.com/" id="btn" class="btn" role="button" target="_blank">Store Name</a></p>
          </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="wow slideInRight thumbnail" data-wow-offset="150">
        <img src="/images/gitbattlepop.png">
          <div class="caption">
            <h3>Store Name</h3>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <hr>
            <p><a href="https://github-battle-78ce5.firebaseapp.com/" id="btn" class="btn" role="button" target="_blank">Store Name</a></p>
          </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="wow slideInLeft thumbnail" data-wow-offset="150">
        <img src="/images/gitbattlepop.png">
          <div class="caption">
            <h3>Store Name</h3>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <hr>
            <p><a href="https://github-battle-78ce5.firebaseapp.com/" id="btn" class="btn" role="button" target="_blank">Store Name</a></p>
          </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="wow slideInRight thumbnail" data-wow-offset="150">
        <img src="/images/gitbattlepop.png">
          <div class="caption">
            <h3>Store Name</h3>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <hr>
            <p><a href="https://github-battle-78ce5.firebaseapp.com/" id="btn" class="btn" role="button" target="_blank">Store Name</a></p>
          </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="wow slideInLeft thumbnail" data-wow-offset="150">
        <img src="/images/gitbattlepop.png">
          <div class="caption">
            <h3>Store Name</h3>
            <p>Lorem Ipsum</p>
            <p>Lorem Ipsum</p>
            <hr>
            <p><a href="https://github-battle-78ce5.firebaseapp.com/" id="btn" class="btn" role="button" target="_blank">Store Name</a></p>
          </div>
      </div>
    </div>
  </div>
</div>
<% include partials/jsdefaults.ejs %>
</body>
