<% include partials/head.ejs %>
<body>
  <% include partials/header.ejs %>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
          <h3 class="panel-title">E-Commerce Stores Launched</h3>
      </div>
      <div id="brandStatement" class="panel-body text-left">
        Successfully launched, maintained and upgraded dozens of successful E-Commerce stores, all built on the Shopify platform and utilizing Liquid, Shopify's native template language for interacting with the backend. Worked as lead developer on all sites listed below, performed performance, analytics and SEO optimization and integrated and developed public and private apps to enchance features of the stores. Custom built many of the features seen on the stores below.
      </div>
    </div>
  </div>
  <h1 class="text-center">E-Commerce Stores</h1>
  <div id="portfolio-container" class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="wow slideInLeft thumbnail" data-wow-offset="150">
        <img src="/images/cabbagepatchkids.png">
          <div class="caption">
            <h3>Cabbage Patch Kids</h3>
            <p>Legendary Toy Brand</p>
            <hr>
            <p><a href="https://cabbagepatchkids.com" id="btn" class="btn" role="button" target="_blank">Cabbage Patch Kids</a></p>
          </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="wow slideInRight thumbnail">
       <img src="/images/charliehustle.png">
          <div class="caption">
            <h3>Charlie Hustle</h3>
            <p>Kansas City Based Sports Apparel</p>
            <hr>
            <p><a href="https://charliehustle.com" id="btn" class="btn" role="button" target="_blank">Charlie Hustle</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="wow slideInLeft thumbnail" data-wow-offset="150">
        <img src="/images/humancentric.png">
          <div class="caption">
            <h3>Human Centric</h3>
            <p>Entertainment Device Wall and Desk Mounts</p>
            <hr>
            <p><a href="https://humancentric.com" id="btn" class="btn" role="button" target="_blank">Human Centric</a></p>
          </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="wow slideInRight thumbnail" data-wow-offset="150">
        <img src="/images/nobull.png">
          <div class="caption">
            <h3>Nobull Project</h3>
            <p>Crossfit Inspired Athletic Gear</p>
            <hr>
            <p><a href="https://nobullproject.com" id="btn" class="btn" role="button" target="_blank">Nobull Project</a></p>
          </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="wow slideInLeft thumbnail">
          <img src="/images/assouline.png">
          <div class="caption">
            <h3>Assouline</h3>
            <p>Luxury Gifts and Books</p>
            <hr>
            <p><a href="https://assouline" id="btn" class="btn" role="button" target="_blank">Assouline</a></p>
          </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="wow slideInRight thumbnail" data-wow-offset="150">
        <img src="/images/clarawilliams.png">
          <div class="caption">
            <h3>Clara Williams</h3>
            <p>Chicago Based Jewelry Designer</p>
            <hr>
            <p><a href="https://clarawilliams.com" id="btn" class="btn" role="button" target="_blank">Clara Williams</a></p>
          </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="wow slideInLeft thumbnail" data-wow-offset="150">
        <img src="/images/bottlekeeper.png">
          <div class="caption">
            <h3>BottleKeeper</h3>
            <p>Bottle Case to Keep Beverages Cold</p>
            <hr>
            <p><a href="https://bottlekeeper.com" id="btn" class="btn" role="button" target="_blank">BottleKeeper</a></p>
          </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="wow slideInRight thumbnail" data-wow-offset="150">
        <img src="/images/soldejaneiro.png">
          <div class="caption">
            <h3>Sol de Janeiro</h3>
            <p>Brazilian Beauty Brand</p>
            <hr>
            <p><a href="https://soldejaneiro.com" id="btn" class="btn" role="button" target="_blank">Sol de Janeiro</a></p>
          </div>
      </div>
    </div>

  </div>
</div>
<% include partials/jsdefaults.ejs %>
</body>
