<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <div class="flexInfo">
      <div class="container">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
              <h3 class="panel-title">From Copywriter to Code Writer</h3>
          </div>
          <div id="brandStatement" class="panel-body text-left">
            A creative mind with a lifelong love of tech, I thrive in a collaborative
            environment and deliver my best work when facing down a deadline. I am an
            exceptional communicator and I hold myself to a high standard in all of my
            interactions. Idea driven, I take pride in my ability to quickly learn and adapt.
          </div>
        </div>
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Skills</h3>
        </div>
          <div class="panel-body">
            <span class="label label-default"><div><i class="devicon-html5-plain-wordmark"></i></div>HTML5</span>
            <span class="label label-default"><div><i class="devicon-css3-plain-wordmark"></i></div>CSS3</span>
            <span class="label label-default"><div><i class="devicon-javascript-plain"></i></div>Javascript</span>
            <span class="label label-default"><div><i class="devicon-jquery-plain"></i></div>jQuery</span>
            <span class="label label-default"><div><i class="devicon-react-original-wordmark"></i></div>React.js</span>
            <span class="label label-default"><div><i class="devicon-react-original"></i></div>React Native</span>
            <span class="label label-default"><div><i class="devicon-nodejs-plain"></i></div>Express.js</span>
            <span class="label label-default"><div><i class="devicon-nodejs-plain"></i></div>Node.js</span>
            <span class="label label-default"><div><i class="devicon-rails-plain-wordmark"></i></div>Ruby on Rails</span>
            <span class="label label-default"><div><i class="devicon-ruby-plain-wordmark"></i></div>Ruby</span>
            <span class="label label-default"><div><i class="devicon-mongodb-plain-wordmark"></i></div>MongoDB</span>
            <span class="label label-default"><div><i class="devicon-postgresql-plain-wordmark"></i></div>Postgresql</span>
            <span class="label label-default"><div><i class="devicon-bootstrap-plain"></i></div>Bootstrap</span>
            <span class="label label-default"><div><i class="devicon-sass-original"></i></div>SASS</span>
            <span class="label label-default"><div><i class="devicon-heroku-original-wordmark"></i></div>Heroku</span>
            <span class="label label-default"><div><i class="devicon-git-plain"></i></div>Git</span>
          </div>
          <div class="panel-footer">
            Significant experience in ecommerce, specifically Shopify and the template language, Liquid.
          </div>
        </div>
        </div>
        </div>
    <% include partials/smallgrid.ejs %>
    <% include partials/jsdefaults.ejs %>
    <script>
      $('.label').hover(function() {
        $(this).addClass('animated bounce')
      });
    </script>
  </body>
</html>
