<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <div class="flexInfo">
    <div class="container">
    <div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="panel-title">From Copywriter to Code Writer</h3>
      </div>
    <div id="brandStatement" class="panel-body text-left">
      I hold myself to a high standard in all of my interactions and I understand
      the value of kindness, as I know that we are all trying to find our way. I will
      gladly lead you in the best direction I can, and if it doesn’t work out, I’ll still
      be there tomorrow to high five you yesterday, my friend.
    </div>
    </div>
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h3 class="panel-title">Skills</h3>
      </div>
          <div class="panel-body">
            <span class="label label-default"><div><i class="devicon-html5-plain-wordmark"></i></div>HTML5</span>
            <span class="label label-default"><div><i class="devicon-css3-plain-wordmark"></i></div>CSS</span>
            <span class="label label-default"><div><i class="devicon-javascript-plain"></i></div>Javascript</span>
            <span class="label label-default"><div><i class="devicon-jquery-plain"></i></div>jQuery</span>
            <span class="label label-default"><div><i class="devicon-react-original-wordmark"></i></div>React.js</span>
            <span class="label label-default"><div><i class="devicon-react-original"></i></div>React Native</span>
            <span class="label label-default"><div><i class="devicon-rails-plain-wordmark"></i></div>Ruby on Rails</span>
            <span class="label label-default"><div><i class="devicon-ruby-plain-wordmark"></i></div>Ruby</span>
            <span class="label label-default"><div><i class="devicon-nodejs-plain"></i></div>Express.js</span>
            <span class="label label-default"><div><i class="devicon-nodejs-plain"></i></div>Node.js</span>
            <span class="label label-default"><div><i class="devicon-mongodb-plain-wordmark"></i></div>MongoDB</span>
            <span class="label label-default"><div><i class="devicon-postgresql-plain-wordmark"></i></div>Postgresql</span>
            <span class="label label-default"><div><i class="devicon-bootstrap-plain"></i></div>Bootstrap</span>
            <span class="label label-default"><div><i class="devicon-sass-original"></i></div>SASS</span>
            <span class="label label-default"><div><i class="devicon-heroku-original-wordmark"></i></div>Heroku</span>
            <span class="label label-default"><div><i class="devicon-git-plain"></i></div>Git</span>
            <span class="label label-default"><div><i class="devicon-trello-plain"></i></div>Trello</span>
          </div>
        </div>
        </div>
        </div>
    <% include partials/smallgrid.ejs %>
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
