<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <div class="flexInfo">
    <div class="container">
    <div class="panel panel-default text-center">
    <div class="panel-heading">
        <h3 class="panel-title">Web Developer</h3>
      </div>
    <div class="panel-body">
      I hold myself to a high standard in all of my interactions and I understand
      the value of kindness, as I know that we are all trying to find our way. I will
      gladly lead you in the best direction I can, and if it doesn’t work out, I’ll still
      be there tomorrow to high five you yesterday, my friend.
    </div>
    </div>
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h3 class="panel-title">Skills</h3>
      </div>
          <div class="panel-body">
            HTML5, CSS, Javascript, jQuery, React.js, Express.js, Node.js, Ruby on Rails
          </div>
        </div>
        </div>
        </div>
    <div class="jumbotron">
    </div>
    </div>
    <% include partials/footer.ejs %>
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
