<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
  <main>
    <h1 class="center"><%= title %></h1>
    <hr>
    <div class="center">
     <div class="chip">
      HTML
     </div>
     <div class="chip">
      CSS
     </div>
     <div class="chip">
      Javascript
     </div>
     <div class="chip">
      jQuery
     </div>
     <div class="chip">
      React
     </div>
     <div class="chip">
      Express.js
     </div>
     <div class="chip">
      Node.js
     </div>
    </div>
  </main>
    <% include partials/footer.ejs %>
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
