<% include partials/head.ejs %>
<body>
  <% include partials/header.ejs %>
  <h1 class="text-center">Recent Projects</h1>
  <div id="portfolio-container" class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
        <img src="/images/project1.png">
        <div class="caption">
          <h3>Eric Cartman Adventure</h3>
          <p>Built with jQuery and ES6 Classes</p>
          <p>This is a twist on a classic "catch em all" game, using a couple of my favorite cartoon characters.
          Move Cartman around using the right and left arrow keys and try and catch all of the falling cheesy poofs.
          Each cheesy poof is worth 5 points. Level one is up to 25 points. Be on the lookout for a special appearance
          that's worth extra points!</p>
          <hr>
          <p><a href="https://mattkersner.github.io/Project1GA/" id="btn" class="btn" role="button" target="_blank">Play the Game</a>
           <a href="https://github.com/mattkersner/Project1GA" id="btn2" class="btn" role="button" target="_blank">Git Repo</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
        <img src="/images/project3.png">
        <div class="caption">
          <h3>Tech.ie</h3>
          <p>Built with Express.js</p>
          <p>Our goal was to create a central place for fellow techies to rate and review the different
          technologies that they use. This would inform the community as to what technologies are
          trending, essential, obsolete, or just plain cool. Built by developers, for developers, we
          hope for this app to be an extension of the developer community and conducive to collaboration.</p>
          <hr>
          <p><a href="https://techie-micdrop.herokuapp.com/" id="btn" class="btn" role="button" target="_blank">Visit Tech.ie</a>
           <a href="https://github.com/mattkersner/techie" id="btn2" class="btn" role="button" target="_blank">Git Repo</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
        <img src="/images/motivationalpenguin.png">
        <div class="caption">
          <h3>Motivational Penguin</h3>
          <p>Built with React.js and Firebase</p>
          <p>A simple React app that simulates a basic twitter feed, but focused on motivation
          inspired by the motivational penguin! This was a fun build and demonstrates the power of React
          and a BAAS like Firebase. Made up of three components and uses Rebase to connect with Firebase.</p>
          <hr>
          <p><a href="http://designer-leopard-21557.bitballoon.com/" id="btn" class="btn" role="button" target="_blank">Motivational Penguin</a>
           <a href="https://github.com/mattkersner/Motivational-Penguin" id="btn2" class="btn" role="button" target="_blank">Git Repo</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
        <div class="thumbFlex">
          <img src="http://i.imgur.com/teDgsqo.jpg">
          <img src="http://i.imgur.com/R0YphNB.png">
        </div>
        <div class="caption">
          <h3>Burrito Places</h3>
          <p>Built with React Native</p>
          <p>A React Native geolocation and navigation iphone app. Users are brought to their current location and all of the
          burrito spots within a 5000 meter radius are populated. Users can add custom locations, burritos or otherwise. Users
          can click on any pin/burrito location and select navigate to bring up Apple Maps navigation services.</p>
          <hr>
          <p><a href="https://github.com/mattkersner/Burrito-Places" id="btn2" class="btn" role="button" target="_blank">Git Repo</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
        <img src="/images/project2.png">
        <div class="caption">
          <h3>Music Playlist App</h3>
          <p>Built with React.js and Firebase</p>
          <p>Music has always been a passion of mine, and with the advent of apps like Spotify, sharing music has never been easier.
          My friends and I are always creating playlists for any occassion. I saw this project as an opportunity to have a centralized place
          to create music playlists from scratch and then share it with friends.</p>
          <hr>
          <p><a href="https://mattkersner.github.io/Project2GA/" id="btn" class="btn" role="button" target="_blank">Create Playlist</a>
           <a href="https://github.com/mattkersner/Project2GA" id="btn2" class="btn" role="button" target="_blank">Git Repo</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
        <img src="/images/skycast.png">
        <div class="caption">
          <h3>Skycast Weather App</h3>
          <p>Built with Express.js</p>
          <p>A weather app that uses the Darksky API as well as Google's geolocation API to render the weather data for
          any address the user enters, including the 7 day forecast. The app also comes complete with user authentication
          and profile page, where a user can favorite certain addresses and then access them whenever they want.</p>
          <hr>
          <p><a href="https://vast-inlet-72682.herokuapp.com/" id="btn" class="btn" role="button" target="_blank">Skycast Weather Services</a>
           <a href="https://github.com/mattkersner/skycast" id="btn2" class="btn" role="button" target="_blank">Git Repo</a></p>
        </div>
      </div>
    </div>
  </div>
<% include partials/jsdefaults.ejs %>
</body>
