<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <h1 class="center"><%= title %></h1>
    <hr>
    <div class="row">
        <div class="col s12 m5">
          <div class="card medium">
            <div class="card-image">
              <img src="/images/project1.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>An Eric Cartman Adventure</p>
            </div>
            <div class="card-action">
              <a href="https://mattkersner.github.io/Project1GA/" target="_blank">Play the Game</a>
              <a href="https://github.com/mattkersner/Project1GA">Git Repo</a>
            </div>
          </div>
        </div>
        <div class="col s12 m5">
          <div class="card medium">
            <div class="card-image">
              <img src="/images/project2.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Music Playlist React App</p>
            </div>
            <div class="card-action">
              <a href="https://mattkersner.github.io/Project2GA/" target="_blank">Create a Playlist</a>
              <a href="https://github.com/mattkersner/Project2GA">Git Repo</a>
            </div>
          </div>
        </div>
      </div>
    <% include partials/footer.ejs %>
    <% include partials/jsdefaults.ejs %>
  </body>
